*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'DM Sans', sans-serif;
  background:#f3f3f3;
  color:#222;
}

.container{
  width:90%;
  max-width:1280px;
  margin:auto;
}

/* Navbar */

header{
  background:#fff;
  padding:20px 0;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  background:#ff5722;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:18px;
}

.logo h2{
  font-size:28px;
  font-weight:700;
}

.logo p{
  font-size:10px;
  color:#888;
  letter-spacing:2px;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:28px;
}

.nav-links a{
  text-decoration:none;
  color:#333;
  font-size:15px;
  font-weight:500;
}

.nav-links .active{
  color:#ff4d24;
}

.nav-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.search{
  font-size:18px;
}

.order-btn{
  text-decoration:none;
  background:#ff4d24;
  color:white;
  padding:14px 24px;
  border-radius:12px;
  font-weight:600;
}

/* Hero Section */
.hero{
  min-height:85vh;
  background:#f8f0e8;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:70px;
  overflow:hidden;
  position:relative;
}

/* LEFT */

.hero-left{
  width:50%;
  position:relative;
  z-index:2;
}

.watermark{
  position:absolute;
  top:80px;
  left:140px;

  font-size:220px;
  font-weight:800;
  font-family:'Playfair Display', serif;

  color:rgba(0,0,0,0.04);

  z-index:-1;
  user-select:none;
  pointer-events:none;
  line-height:1;
}

.badge{
  display:inline-block;
  background:white;
  padding:12px 22px;
  border-radius:30px;
  font-size:14px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  margin-bottom:28px;
}

.hero-left h1{
  font-family:'Playfair Display', serif;
  font-size:78px;
  line-height:1.05;
  font-weight:800;
}

.hero-left h1 span{
  color:#ff4d24;
}

.hero-left p{
  font-size:16px;
  color:#666;
  line-height:1.8;
  max-width:500px;
  margin-top:20px;
}

.hero-buttons{
  display:flex;
  align-items:center;
  gap:20px;
  margin-top:35px;
}

.menu-btn{
  text-decoration:none;
  background:#ff4d24;
  color:white;
  padding:16px 30px;
  border-radius:40px;
  font-weight:600;
  box-shadow:0 12px 20px rgba(255,77,36,.25);
}

.story-btn{
  text-decoration:none;
  color:#222;
  font-weight:600;
}

.stats{
  display:flex;
  gap:40px;
  margin-top:50px;
}

.stats h3{
  font-size:32px;
}

.stats span{
  font-size:12px;
  color:#777;
  text-transform:uppercase;
}

/* RIGHT SIDE */

.hero-right{
  width:45%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* beige circle behind burger */
.circle-bg{
  width:430px;
  height:430px;
  background:#f2dec7;
  border-radius:50%;
  position:absolute;
  z-index:1;
}

/* burger image */
.burger-image{
  width:420px;
  height:420px;
  object-fit:cover;
  border-radius:50%;
  position:relative;
  z-index:2;
}

/* floating cards */
.floating-card{
  position:absolute;
  background:white;
  padding:18px 24px;
  border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  font-size:15px;
  font-weight:600;
  z-index:5;
}

/* hot deal */
.card-1{
  top:90px;
  left:20px;
}

/* 20 min */
.card-2{
  top:210px;
  right:10px;
}

/* rating */
.card-3{
  bottom:95px;
  right:25px;
}
.logo h2 span{
  color: #ff4d24;
}
.stats span{
  color: #ff4d24;
  font-size: 2rem;
}